// -- Colors --
$headerColor : #AC1616;
$backgroundColor : #FFF1F1;
	$btnEngColor : #0600FF;
	$btnIndColor : #FF0000;
	$formColor : #5D0000;
	$formTextColor : #9B6161;

	$btnLoginColor : #FF0036;
$footerColor : #DBB3B3;

$navBackgroundColor : #BD4545;
$vehBackgroundColor : #FF5A5A;

// -- Sizes --
$headerHeight : 30px;
$listHeaderHeight : 60px;
$footerHeight : 50px;
