title JePS.id :: Web Application
meta(charset='utf-8')
meta(name='viewport',content='width=device-width, initial-scale=1')
meta(name='author',content='JePS.id')
meta(name='description', content='Owned Vehicle List of User')
link(href="css/ol.css", type="text/css", rel="stylesheet")
link(href="css/bootstrap.min.css", type="text/css", rel="stylesheet")
link(href="css/font-awesome.min.css", type="text/css", rel="stylesheet")
link(href="css/style.css", type="text/css", rel="stylesheet")